# dependencies
frontend/node_modules/
backend/node_modules/

# env files
frontend/.env
backend/.env

# build files
frontend/dist/
frontend/build/
backend/dist/
backend/build/

# logs
*.log

# coverage
coverage/

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db